<!--
  Generated template for the AddHeroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      <img alt="marvel-logo" height="40" src="assets/imgs/logo.png" >
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
	&nbsp; 
	<h2 *ngIf="hero.id === undefined">Add Hero</h2>
	<h2 *ngIf="hero.id !== undefined">Edit Hero</h2>
	<hr>
	<ion-row>
		<p><b>Hero:</b> A person who, in the opinion of others, has special achievements, abilities, or personal qualities and is regarded as a role model or ideal.</p>
	</ion-row>

	<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
		<ion-list>  
			<ion-item>
				<ion-label color="danger" floating>Name</ion-label>
				<ion-input formControlName="name" type="text" clearInput>{{hero.name}}</ion-input>
			</ion-item>

			<ion-item *ngIf="!heroForm.controls.name.valid  && (heroForm.controls.name.dirty)" >
                <p *ngIf="heroForm.controls.name.errors.required">Name is required.</p>
            </ion-item>

			<ion-item>
				<ion-label color="danger" floating>AlterEgo</ion-label>
				<ion-input formControlName="alterEgo" type="text" clearInput>{{hero.alterEgo}}</ion-input>
			</ion-item>

			<ion-item *ngIf="!heroForm.controls.alterEgo.valid  && (heroForm.controls.alterEgo.dirty)" >
                <p *ngIf="heroForm.controls.alterEgo.errors.required">AlterEgo is required.</p>
            </ion-item>

			<ion-item>
				<ion-label color="danger" floating>Strength</ion-label>
				<ion-input formControlName="strength" type="number" clearInput>{{hero.strength}}</ion-input>
			</ion-item>

			<ion-item *ngIf="!heroForm.controls.strength.valid  && (heroForm.controls.strength.dirty)" >
                <p *ngIf="heroForm.controls.strength.errors.required">Strength is required.</p>
                <p *ngIf="heroForm.controls.strength.errors.maxlength">Please enter only one digit.</p>
                <p *ngIf="heroForm.controls.strength.errors.pattern">Please enter a valid number between 0 and 9.</p>
            </ion-item>

			<ion-item>
				<ion-label color="danger" floating>Birth Date</ion-label>
				<ion-input formControlName="birthDate" clearInput>{{hero.birthDate}}</ion-input>
			</ion-item>

			<ion-item *ngIf="!heroForm.controls.birthDate.valid  && (heroForm.controls.birthDate.dirty)">
                <p *ngIf="heroForm.controls.birthDate.errors.required">Please enter a valid date format dd/mm/aaaa. A Hero can be born in Future ...</p>
                <p *ngIf="heroForm.controls.birthDate.errors.pattern">Please enter a valid date format dd/mm/aaaa.</p>
                <p>{{heroForm.birthDate | json}}</p>
            </ion-item>

			<ion-item>
				<ion-label color="danger" floating>Image URL</ion-label>
				<ion-input formControlName="image" clearInput>{{hero.image}}</ion-input>
			</ion-item>

			<ion-item *ngIf="!heroForm.controls.image.valid  && (heroForm.controls.image.dirty)">
                <p>Please provide a Hero image.</p>
            </ion-item>

			<ion-item>
				<ion-label color="danger" floating>Description</ion-label>
				<ion-textarea autosize formControlName="description">{{hero.description}}</ion-textarea>
			</ion-item>

			<ion-item *ngIf="!heroForm.controls.description.valid  && (heroForm.controls.description.dirty)">
                <p>Please provide a Hero description.</p>
            </ion-item>

			<ion-item>
			  <ion-label color="danger">Powers</ion-label>
			  <ion-select formControlName="powers" multiple="true" cancelText="Nah" okText="Okay!">
			  	<ion-option *ngFor="let power of powers">{{power}}</ion-option>
<!-- 			    <ion-option>Strength</ion-option>
			    <ion-option>Magic</ion-option>
			    <ion-option>Telepathy</ion-option>
			    <ion-option>Telekinesis</ion-option>
			    <ion-option>Teleportation</ion-option>
			    <ion-option>Intellect</ion-option>
			    <ion-option>Shape-Shifter</ion-option>
			    <ion-option>Speed</ion-option>
			    <ion-option>Invulnerability</ion-option>
			    <ion-option>Inmortal</ion-option> -->
			  </ion-select>
			</ion-item>

			<ion-item *ngIf="!heroForm.controls.powers.valid  && (heroForm.controls.powers.dirty)">
                <p>A Hero with no powers? C'MON!!!</p>
            </ion-item>
		</ion-list>

	<ion-input type="text" hidden *ngIf="hero.id !== undefined" formControlName="id">{{hero.id}}</ion-input>
	
	<button ion-button color="danger" full type="submit" *ngIf="hero.id === undefined" [disabled]="!heroForm.valid">Add Hero</button>
	<button ion-button color="danger" full type="submit" *ngIf="hero.id !== undefined" [disabled]="!heroForm.valid">Save Hero</button>
	
</form>

</ion-content>
