<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      <img alt="marvel logo" height="40" src="assets/imgs/logo.png">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="danger" (click)="showAddHeroPage()">
        <ion-icon name="add"> </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="content"> 

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <h2>The Real Tour of Heroes</h2>
  <hr>
  <ion-searchbar (ionInput)="filterHeroes($event)" (ionCancel)="onCancel($event)" placeholder=""></ion-searchbar>

  <ion-buttons end>

    <button ion-button clear [color]="reverse ? 'dark' : 'danger'" (click)="orderHeroes()">
      <ion-icon name="arrow-round-down"></ion-icon> AZ
    </button>
    <button ion-button clear [color]="reverse ? 'danger' : 'dark'" (click)="reverseHeroes()">
      <ion-icon name="arrow-round-up" ></ion-icon> ZA
    </button>
  </ion-buttons>

  <ion-list inset no-lines>
    <ion-item *ngFor="let hero of heroes" (click)="getHero(hero)" >
      <ion-avatar item-left>
        <img src="{{hero.image}}">
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>  
