page-home {

    // Heroes List Items
	.item {
		background-color: lightgrey;
	}

	.item-block {
		float: left;
		width: 33%;
	}

	.item ion-avatar img {
	    width: 100%;
	    height: 100%;
	}

    // Search Bar
	.searchbar-md .searchbar-input, .searchbar-ios .searchbar-input {
    	background-color: darkgrey;
    }

    // Add Button
    .bar-button-ios[icon-only] {
    	padding: 5px;
    }

    .bar-button-ios[icon-only] ion-icon, .bar-button-md[icon-only] ion-icon {
    	font-weight: bold;
    }

  	.toolbar-ios-dark .bar-button-ios-danger {
	    color: white !important;
	    background-color: #f53d3d !important;
	}

	.toolbar-md-dark .bar-button-md-danger {
	    color: white !important;
	    background-color: #f53d3d !important;
	}
}
