

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// Marvel Colors in Palette
// Color	Hex	RGB
// #e23636	(226,54,54) red
// #000000	(0,0,0) black 
// #504a4a	(80,74,74) grey
// #518cca	(81,140,202) blue
// #f78f3f	(247,143,63) orange

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  //danger:     #f53d3d,
  danger:	  #e23636,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// Search Bar
$searchbar-ios-input-text-color: white;
$searchbar-ios-input-search-icon-color: black;

// Loading
$loading-ios-spinner-dots-color: map-get($colors, danger);

// Alert
$alert-ios-radio-label-text-color: map-get($colors, danger);
$alert-ios-checkbox-label-text-color: map-get($colors, danger);
$alert-ios-button-text-color: map-get($colors, danger);

// Form
$label-ios-text-color-focused: map-get($colors, danger);
$text-input-placeholder-color: map-get($colors, danger);


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// Search Bar
$searchbar-md-input-text-color: white;
$searchbar-md-input-search-icon-color: black;

// Loading
$loading-md-spinner-dots-color: map-get($colors, danger);

// Alert
$alert-md-radio-label-text-color: map-get($colors, danger);
$alert-md-checkbox-label-text-color: map-get($colors, danger);
$alert-md-button-text-color: map-get($colors, danger);

// Form
$label-md-text-color-focused: map-get($colors, danger);
$text-input-md-show-focus-highlight: false;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
