<!--
  Generated template for the DescriptionPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      <img alt="marvel-logo" height="40" src="assets/imgs/logo.png" >
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  
    <ion-card>
        
      <img src="{{hero.image}}"/>
  
      <ion-card-content>
        <ion-card-title>
            {{hero.name}} 
            <h5>{{hero.alterEgo}}</h5>
        </ion-card-title>
        <p>
            {{hero.description}}
        </p>
      </ion-card-content>

      <ion-item>
    	  <ion-icon name="egg" item-start></ion-icon>
    	  Birth Date
    	  <ion-badge color="danger" item-end>{{hero.birthDate}}</ion-badge>
  	  </ion-item>

      <ion-item>
    	  <ion-icon name="speedometer" item-start></ion-icon>
    	  Strenght
    	  <ion-badge color="danger" item-end>{{hero.strength}}</ion-badge>
    	</ion-item>

      <ion-item>
        <ion-icon name="flash" item-start></ion-icon>
        Powers
        <ion-badge color="danger" item-end>{{hero.powers}}</ion-badge>
      </ion-item>

      <button ion-button color="danger" (click)="editHero(hero)" *ngIf="hero.modifiable">Edit Hero</button>
      <button ion-button color="danger" (click)="deleteConfirm()" *ngIf="hero.modifiable">Delete Hero</button>
      
    </ion-card>
  
  </ion-content>
